@mixin flexCenterH() {
  display: flex;
  justify-content: center;
}
@mixin textHero() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #473d3c;
}
.HeroCard {
  background-color: #fff;
  margin: 15px;
  min-height: 340.89px;

  .HeroContainer {
    .HeroAvatar-container {
      width: 200px;
      margin: -15px 0 0 -20px;
      height: 200px;

      @media screen and (max-width:1024px) {
        height: 200px;
        margin: -15px 0 0 0;
        @include flexCenterH();
      }
      .HeroAvatar {
        width: inherit !important;
        height: inherit !important;
      }
    }
    .HeroName {
      font-weight: 900;
      margin: -0.59em 0 1em 0;
      font-size: 1.05em;
      text-transform: uppercase;
      @include textHero();

      @media screen and (max-width:1024px) {
        margin: 0.5em 0 0.2em 0;
      }
    }
    .HeroName:hover {
      color: red;
    }
    .HeroDescription {
      padding: 0;

      .HeroText {
        position: relative;
        overflow: hidden;
      }
      .HeroMoreContiner {
        padding: 0;

        @media screen and (max-width:1024px) {
          margin: 0.5em 0 0.2em 0;
          @include flexCenterH();
        }
        .HeroMore {
          background-color: red !important;
        }
      }
    }
  }
  .relatedContainer {
    padding-bottom: 15px;

    .relatedTittle {
      font-weight: 900;
      padding: 0;
      margin-top: 12px;
      @include textHero();
    }
    .tittleComics {
      height: 28px;
      margin: 0 0 10px 0;
      overflow: hidden;
      font-size: 0.8em;
    }
    .tittleComics:hover {
      .linkArrow {
        display: initial;
        width: 11px;
      }
    }
    .linkArrow {
      display: none;
    }
    .tittleComics:hover {
      color: red;
    }
  }
}